@(articles: List[List[String]])
<!DOCTYPE html>
<html>

    <style>
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
            }
    </style>

    <body>

        <header class="topbar">
            <h1 class="focused" style="font-size: 37px;
                color: #57a957">
                Query 1.3 Researcher Search
            </h1>

        </header>

        <div>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Conference</th>
                    <th>Publisher</th>
                    <th>Year</th>
                    <th>Journal</th>
                    <th>Volume</th>
                    <th>Issue</th>
                    <th>Pages</th>
                    <th>URL</th>
                    <th>EE</th>
                    <th>CrossRef</th>
                    <th>ISBN</th>
                </tr>


                @for(article <- articles){
                    <tr>
                    @for(element <- article){

                        <td>@element</td>

                    }
                    </tr>
                }


                </table>

        </div>

        <form action = "@routes.HomeController.q13Handler()" method="GET">
            <label>Author Name</label>
            <input type = "text" maxlength="100" id="name" name="name">
            <label>Year</label>
            <input type = "text" maxlength="100" id="year" name="year">
            <button id="api-get-page"  class="button" type="submit">1.3 Researcher Search</button>
        </form>
    </body>
</html>